body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  color: #333;
}

header {
  text-align: center;
  background: #000;
  color: white;
  padding: 20px;
}

#searchBox {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  padding: 20px;
}

.product {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.03);
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h3 {
  font-size: 16px;
  margin: 8px 0 5px;
}

.product p {
  font-size: 14px;
  color: #777;
}

.price {
  color: #000;
  font-weight: bold;
}
